* {
    box-sizing:border-box;
}

body {
    width: 960px;
    font-family: Helvetica, sans-serif;
}

nav {
    background-color: #aa0000;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center; 
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.images section {
    float: left;
    margin: 5px;
}

.images aside img {
    float: right;
    margin: 5px;
}

.currentevents {
    clear: both;
}

h3 {
    color: #aa0000;
    border-top: 1px solid #aa0000;
    border-bottom: 1px solid #aa0000;
    text-align: center;
    padding: 20px;
}

.currentevents ul {
    list-style-type: none;
}

.currentevents ul li {
    display: inline-block;
    padding: 10px;
}

h2 {
    color: #aa0000;
}

.recentposts ul {
    list-style-type: none;
    width: 60%;
    float: left;
}

.recentposts ul li {
    border-bottom: 1px solid #aa0000;
}

.recentposts aside {
    width: 40%;
    float: right;
}

.recentposts h3 {
    color: #000;
    border: none; 
}

article {
    overflow: hidden;
}

.articleimg, .articleinfo {
    width: 50%;
}

.articleimg {
    float: left;
    padding: 10px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    border-bottom: none;
    width: 50%;
    float: left;
    padding: 10px; 
}



