body {
    width: 960px;
    background-color: #ffffff;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border-bottom: 1px solid #777;
    color: #777;
}

h2 {
    border-bottom: 1px dotted #aa0000;
    color: #aa0000;
}