* {
    box-sizing: border-box;
}

body {
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    margin: 0px auto;
}

.content {
    background-color: #fff;
}

header {
    background-color: #00aaaa;
    color: #fff;
    text-shadow: 5px 5px 10px #000000;
    padding: 10px;
}

header h1, header h2 {
    margin: 10px
}

aside {
    width: 20%;
    margin: 2.5%;
    float: left;
}



aside ul {
    list-style-type: square;
}

aside ul a {
    text-decoration: none;
    color: #aa0000;
    padding: 5px;
}

aside ul a:hover {
    text-decoration: underline;
}

article {
    width: 70%;
    float: right; 
}

article h1, article h2, article h3 {
    color: #aa0000;
}

article em {
    color: #55aa00;
}

article a {
    text-decoration: none;
    color: #aa0000;
}

article a:hover {
    text-decoration: underline;
}

article ol {
    list-style-type: upper-roman;
}

article ul {
    list-style-type: none;
}

.image li {
    float: left;
    margin: 5px;
    padding: 5px;
}

.image h6 {
    text-align: center;
    margin: 5px;
}

.image img {
    box-shadow: 1px 1px 5px 0px #000000;
}

footer {
    clear: both;
}

footer ul {
    text-align: center;
    list-style-type: none;
}

footer li {
    display: inline-block;
    margin: 15px;
    
}

footer a {
    text-decoration: none;
    color: #aa0000;
}

footer a:hover {
    text-decoration: underline;
}