body,
ul {
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    margin: 0
}

a {
    color: #fff;
    text-decoration: none
}

.image-gallery li:hover h3,
a:hover {
    text-decoration: underline
}

header {
    background: #a00
}

footer {
    background: #333;
    clear: both
}

ul {
    list-style: none
}

nav ul {
    margin: 0;
    padding: 20px 10px;
    font-size: 20px
}

nav li a {
    padding-right: 20px
}

.image-gallery li:hover img {
    border: 2px solid #333;
    display: block;
    margin: 0 auto
}

footer nav,
header nav,
section {
    width: 100%;
    margin: 0 auto
}

a,
nav li {
    display: inline-block
} 

@media screen and (min-width:650px){
    .image-gallery li {
        float: left;
        text-align: center;
        width: 25%
    }

}

@media screen and (min-width:480px) and (max-width: 650px){
    .image-gallery li {
        float: left;
        text-align: center;
        width: 33.333%
    }
}

@media screen and (max-width:480px){
    .image-gallery li {
        float: left;
        text-align: center;
        width: 50%
    }

    nav ul {
        margin: 0px;
    }

    a,
    nav li {
        display: block;
        
    }

    nav li {
        border: 1px solid white;
    }

    nav ul {
        padding: 0px;
    }

}